{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}

<!-- banner img -->
<div class="container-fluid px-0 py-0">
    <img src="/static/iiitbibanner.jfif" alt=" IIIT NR HEADING " class="center" width="1600"  >
    </div>

    <h1 class="display-1">About us</h1>

<!--Body (about)  -->
<div class="container">
    
    <p><em>Dr. SPM IIIT-Naya Raipur, established by the International Institute of Information Technology University Act, 2013 of the Government of Chhattisgarh, is a joint venture by Chhattisgarh State Government and National Thermal Power Corporation (NTPC). The institute is committed to pursue excellence in higher education, research and development in Information Technology (IT) and associated disciplines. It firmly believes in bestowing knowledge dissemination and imparting entrepreneurial skills to the students to enable them to address real world problems. To empower this vision, IIIT-NR fosters state-of-the-art research and product development laboratories to carry out inter-disciplinary research and product development endeavours.

        Dr. SPM IIIT-NR's fifty-acres residential campus is located in the newly developed smart city of Atal Nagar, approximately 23 kms from the city of Raipur. The vibrant lush green campus of IIIT-NR is enabled with Wi-Fi connectivity, CCTV surveillance, hi tech security measures and excellent amenities for sports and other recreational activities. The modern architecture of the buildings and the serene environment of the campus fosters an ambience for the students for creativity and innovation. The classrooms are equipped with state-of-the art technologies for teaching and learning.

    </em></p>

</div>



<!-- Lists -->
<div class="container">
<h1 class="display-5">Highlights</h1>
<ul class="container list-group list-group-flush">
    <li class="list-group-item">Established as a University by the Govt. Of Chhattisgarh</li>
    <li class="list-group-item">Recognised by UGC</li>
    <li class="list-group-item">"Letter Approval as Accorded by AICTE</li>
    <li class="list-group-item">Guided by a highly eminent board</li>
    <li class="list-group-item">Located in the capital of Chhattisgarh with good connectivity</li>
    <li class="list-group-item">Fully residential campus with state-of-the art infrastructure </li>
    <li class="list-group-item">Industry driven curriculum with focus on fostering innovation and entrepreneurship among students</li>
    <li class="list-group-item">"Equipped with e-enabled teaching and learning facilities</li>
    <li class="list-group-item">Focus on teaching, research and consultancyAICTE</li>
    <li class="list-group-item">"Intensive Professional English Language Development Facility </li>
  </ul>
</div> 
<div class="container">
    <h1 class="display-5">Institute logo</h1>
    <img src="/static/iiitlogomed.jfif" alt="logo">
</div>
{% endblock body %}