{% extends 'base.html' %}
{% block title %}
Campus
{% endblock title %}

{% block body %}


    <h1 class="display-1">Campus</h1>


<div class="container-fluid">
    <iframe width="1600" height="615" src="https://www.youtube.com/embed/9NXJDt3Zjdg" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>

<div class="leftcontent justify">

    <h2>Facilities</h2>
    <div class="region region-content">
        <div id="block-system-main" class="block block-system">

            <div class="container-fluid">
                <div class="content">
                    <div id="node-70" class="node node-article node-full clearfix" about="/content/facilities"
                        typeof="sioc:Item foaf:Document">

                        <span property="dc:title" content="Facilities" class="rdf-meta element-hidden"></span><span
                            property="sioc:num_replies" content="0" datatype="xsd:integer"
                            class="rdf-meta element-hidden"></span>

                        <div class="content clearfix">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" property="content:encoded">
                                        <table border="1" cellpadding="1" cellspacing="1">
                                            <tbody>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide2.jpg" width="800">&nbsp;</td>
                                                    <td><img alt="" src="/static/Slide3.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide4.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide5.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide6.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide7.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide8.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide9.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide10.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide26.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide12.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide13.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide14.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide15.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide16.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide17.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide18.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide19.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide21.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide22.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide23.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide24.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide25.jpg" width="800"></td>
                                                    <td><img alt="" src="/static/Slide26.jpg" width="800"></td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="/static/Slide26.jpg" width="800"></td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body %}