{% extends 'base.html' %}
{% block title %}
Cultural & Literary CLUBS
{% endblock title %}

{% block body %}


<!--Cultural & Literary CLUBS-->

<div class="container-fluid px-0">
    <img src="/static/Cultural.jfif" alt="HEad" width="1600">
</div>


<div class="container">
    <h1 class="display-1">Cultural & Literary Clubs</h1>
    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/indradhanush.png" class="rounded"width="400"  alt="atrt LOGO">
            <p>
            <h4>
                Indradhanush 
            </h4>
             <i>Colours speak: Indradhanush promotes the language of colours for the hidden artists to let their hearts out.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/capriccio1.png" class="rounded" width="400" alt="AIML LOGO">
            <p>
            <h4>
                Capriccio 
            </h4>
            <i>It is all about music(MUSIC CLUB).</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/shutterbug.jpeg" class="rounded" width="400" alt="Shutterbug LOGO">
            <p>
            <h4>
                Shutterbug
            </h4>
            <i>ShutterBug is a club where an avid photographer takes his camera with him everywhere to capture best pictures.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/club_de_theatre1.jpg" class="rounded" width="400" alt="club_de_theatre LOGO">
            <p>
            <h4>
                Club De Theatre
            </h4>
            <i>For all the Ayushman Khurana's and Pankaj Tripathi's out there, we provide you the right platform to showcase your talent in skits, mimes, plays, nukkad natak and what not.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/igniters.jpg" class="rounded" width="400" alt="igniters LOGO">
            <p>
            <h4>
                igniters
            </h4>
           <i>An inviting space for all where we express, relish and celebrate the Art of Dance.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/c2c.png" class="rounded" width="400" alt="c2c LOGO">
            <p>
            <h4>
                C2C (Cover to Cover)
            </h4>
            <i>A common roof for aficionados and dilettantes alike, striving to inculcate a general appreciation of the English language through various interactive activities and events.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/take_da_bait.jpg" class="rounded" width="400" alt="take_da_bait">
            <p>
            <h4>
                Take da bait
            </h4>
            <i>Take da bait is the debating society of the institute. A place to protect and present opinions.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/UNclub.png" class="rounded" width="400" alt="MUN LOGO">
            <p>
            <h4>
                Model United Nations
            </h4>
            <i>The club promotes thorough discussion and debate on various conflicts of the world from a young perspective and provides a platform to be a part of something bigger.</i>
            </p>
        </div>
    </div>
</div>



</div>


{% endblock body %}