{% extends 'base.html' %}
{% block title %} 
Faculty
{% endblock title %} 

{% block body %}
<!-- banner img -->
<div class="container-fluid px-0 py-0">
  <img src="/static/iiitbibanner.jfif" alt=" IIIT NR HEADING " class="center" width="1600"  >
  </div>

<!-- profiles faculty -->

<h1 class="display-6 "> <i> FACULTY (ARRANGED ALPHABETICALLY) </i> </h1>
<div class="center">
<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ECE</strong>
            <h3 class="mb-0">ABHISHEK SHARMA</h3>
            <div class="mb-1 text-muted"> Ph. D. (IIT Guwahati)</div>
            <p class="mb-auto"> <b>Research:</b> Bio-metrics, Online Signature Verification, Write identification, Image Processing, Pattern Recognition and Machine Learning.</p>
            <p >         
            <b>Contact No:</b>  91-771-2474080</p>
            <p >         
              <b>E mail</b> abhishek@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/abhishek.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center">
<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, MANAGEMENT</strong>
            <h3 class="mb-0">AMIT KUMAR AGRAWAL</h3>
            <div class="mb-1 text-muted">  Ph.D. (IIT Roorkee)</div>
            <p class="mb-auto"> <b>Research:</b> Customer Value Co-creation; Technological Adoption; Services; Consumer Behavior; Marketing.</p>
            <p >         
            <b>Contact No:</b>  91-771-2474031</p>
            <p >         
              <b>E mail</b> amitag@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/Amit_Jpeg.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ECE</strong>
            <h3 class="mb-0">ANURAG SINGH</h3>
            <div class="mb-1 text-muted">  Ph.D. (IIT Guwahati)</div>
            <p class="mb-auto"> <b>Research:</b> Biomedical signal and image processing, Wireless Body Area Network (WBAN)-enabled remote healthcare applications using different physiological signals such as ECG, EEG, etc., Brain-computer interface-based applications, Multirate signal processing, Compressed sensing, Sparse representation and related applications</p>
            <p >         
            <b>Contact No:</b>  91-771-2474033</p>
            <p >         
              <b>E mail</b>  anurag@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/anurag.jpg" alt="Amitkumaragr" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ECE</strong>
            <h3 class="mb-0">BIPIN CHANDRA MANDI</h3>
            <div class="mb-1 text-muted">  Ph. D. (IIT Kharagpur))</div>
            <p class="mb-auto"> <b>Research:</b> Embedded System Design, Digital Power Management Circuits, VLSI Implementation   </p>         
            </p>
            <p >         
            <b>Contact No:</b>  91-771-2474054</p>
            <p >         
              <b>E mail</b> bipin@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/bipin.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ECE</strong>
            <h3 class="mb-0">DEBANJAN DAS </h3>
            <div class="mb-1 text-muted"> Ph. D. (IIT Kharagpur)</div>
            <p class="mb-auto"> <b>Research:</b>IoT & Sensors, Medical IoT (m-IoT), Agricultural IoT (a-IoT), Signal Processing, Sensors & Instruments, Energy harvester, Control & Robotics, BioMEMS & Microfluidics.</p>
            <p >         
            <b>Contact No:</b>  91-771-2474020</p>
            <p >         
              <b>E mail</b> debanjan@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/debanjan.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ECE</strong>
            <h3 class="mb-0">DEEPIKA GUPTA</h3>
            <div class="mb-1 text-muted"> Ph.D. (IIT Indore)</div>
            <p class="mb-auto"> <b>Research:</b>3D Charge Trap NAND Flash Memory, Advanced Non-Volatile Memories and Semiconductor Devices </p>
            <p >         
            <b>Contact No:</b>  91-771-2474078</p>
            <p >         
              <b>E mail</b> deepika@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/deepika_0.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, MATHEMATICS</strong>
            <h3 class="mb-0">KULDIP SINGH PATEL</h3>
            <div class="mb-1 text-muted"> Ph.D. (IIT, Delhi), Post-Doctoral Fellow (IISER, Pune)</div>
            <p class="mb-auto"> <b>Research:</b> Financial Mathematics, Numerical Methods.

            </p>
            <p >         
            <b>Contact No:</b> 91-771-247-4006</p>
            <p >         
              <b>E mail</b> kuldip@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/photo-kuldip.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ECE</strong>
            <h3 class="mb-0">LAKHINDAR MURMU</h3>
            <div class="mb-1 text-muted">Ph.D. (IIT (ISM) Dhanbad)</div>
            <p class="mb-auto"> <b>Research:</b> Electromagnetics and his recent research interest activities have focused on the novel microstrip circuits Design for RF and microwave communication</p>
             <!-- <p >           -->
            <!-- <b>Contact No:</b>  </p>  -->
            <p >         
              <b>E mail</b> lakhindar@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/lakhindar.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ECE</strong>
            <h3 class="mb-0">MAIFUZ ALI</h3>
            <div class="mb-1 text-muted"> Ph.D. (IIT Kharagpur)</div>
            <p class="mb-auto"> <b>Research:</b> Numerical and analytical methods in electromagnetic, electromagnetic radiation and scattering, ray tracing, communication channel modeling, EMI sensors, radar cross section (RCS), millimeter wave technology, biological effects of electromagnetic ﬁelds, non-reciprocal devices.</p>
            <p >         
            <b>Contact No:</b> 91-771-2474076</p>
            <p >         
              <b>E mail</b> maifuzali@iiitnr.edu.in, maifuzali@hotmail.com</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/maifuzali_photograph_mod.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ECE</strong>
            <h3 class="mb-0">MANOJ KUMAR MAJUMDER</h3>
            <div class="mb-1 text-muted">  Ph.D (IIT Roorkee)</div>
            <p class="mb-auto"> <b>Research:</b> Low Power VLSI Circuits and Systems Designing, Modelling of VLSI Device and Circuit Performance Parameters, Hardware Security, Emerging Electronics, Carbon nanotube and graphene nanoribbon based VLSI interconnects and Through Silicon Vias, Nanomaterials and their applications..</p>
            <p >         
            <b>Contact No:</b>  91-771-2474016</p>
            <p >         
              <b>E mail</b>  manojk@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/manoj_0.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, MATHS</strong>
            <h3 class="mb-0">MITHILESH KUMAR CHAUBE</h3>
            <div class="mb-1 text-muted">  Ph. D (IIT-BHU, Varanasi)</div>
            <p class="mb-auto"> <b>Research:</b> Mathematical Modelling, Bio-fluid Mechanics, Biomechanics, Microfluidics, Biomathematics.</p>
            <p >         
            <b>Contact No:</b> 91-771-2474011</p>
            <p >         
              <b>E mail</b> mithilesh@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/mithilesh.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, CSE</strong>
            <h3 class="mb-0">MUNEENDRA OJHA</h3>
            <div class="mb-1 text-muted"> Ph.D (IIIT-Allahabad)</div>
            <p class="mb-auto"> <b>Research:</b> Multiobjective Optimization, Evolutionary Algorithms, Machine Learning, Artificial Intelligence and Multi agent systems</p>
            <p >         
            <b>Contact No:</b>  91-771-2474022</p>
            <p >         
              <b>E mail</b>  muneendra@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/muneendra.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">VICE CHANCELLOR AND DIRECTOR, IIIT-NR</strong>
            <h3 class="mb-0">PRADEEP K. SINHA</h3>
            <div class="mb-1 text-muted"> Ph.D. (University of Tokyo)</div>
            <p class="mb-auto"> <b>Research:</b> Distributed Computing, Parallel Processing, High Performance Computing (HPC), Grid Computing, and Health Informatics.</p>
            <!-- <p >          -->
            <!-- <b>Contact No:</b>  91-771-2474080</p> -->
            <p >         
              <!-- <b>E mail</b> abhishek@iiitnr.edu.in</p> -->
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/director_mod.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, PHYSICS</strong>
            <h3 class="mb-0">PUNYA PRASANNA PALTANI</h3>
            <div class="mb-1 text-muted"> Ph. D (BIT-MESRA, Ranchi)</div>
            <p class="mb-auto"> <b>Research:</b> Nonlinear optics, Photonics, Plasmonics and Photonic crystals.</p>
            <p >         
            <b>Contact No:</b>  91-771-2474013</p>
            <p >         
              <b>E mail</b> punya@iiitnr.edu.in </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/punaya.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSOCIATE PROFESSOR, ECE</strong>
            <h3 class="mb-0">RAJARSHI MAHAPATRA</h3>
            <div class="mb-1 text-muted"> Ph.D. (IIT Kharagpur)</div>
            <p class="mb-auto"> <b>Research:</b> Cognitive radio, Signal processing Dynamic spectrum access, Green communication, Heterogeneous wireless network, Optical access networks and Molecular communication.</p>
            <p >         
            <b>Contact No:</b> 91-771-2474026</p>
            <p >         
              <b>E mail</b> rajarshi[at]iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/rsz_newcut_0.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ECE</strong>
            <h3 class="mb-0">ABHISHEK SHARMA</h3>
            <div class="mb-1 text-muted">Ph.D.(IIT, Roorkee), Post doc (IIT, Bombay)</div>
            <p class="mb-auto"> <b>Research:</b> Error Correcting Codes, Information Theory and Algebra

            </p>
            <p >         
            <b>Contact No:</b>91-771-2474030</p>
            <p >         
              <b>E mail</b> ramakrishna@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/Ramakrishna_Website.png" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, CSE</strong>
            <h3 class="mb-0">RASHMI CHAUDHRY</h3>
            <div class="mb-1 text-muted">  Ph.D. (ABV-IIITM, Gwalior)</div>
            <p class="mb-auto"> <b>Research:</b> Mobile Ad hoc Networks, Internet of Things, Cloud Computing and Machine Learning.

            </p>
            <p >         
            <b>Contact No:</b>0771-2474101</p>
            <p >         
              <b>E mail</b>rashmi@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/rashmi_0.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSIATANT PROFESSOR, CSE</strong>
            <h3 class="mb-0">RUHUL AMIN</h3>
            <div class="mb-1 text-muted">  Ph.D. (IIT (ISM) Dhanbad)</div>
            <p class="mb-auto"> <b>Research:</b> Cryptography, Information/Network Security, Authentication Techniques</p>
            <p >         
            <b>Contact No:</b>91-771-2474029</p>
            <p >         
              <b>E mail</b>ruhul@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/ruhul.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, CSE</strong>
            <h3 class="mb-0">SANTOSH KUMAR</h3>
            <div class="mb-1 text-muted">  Ph.D (IIT B.H.U.)</div>
            <p class="mb-auto"> <b>Research:</b> Animal biometrics, Computer vision, Deep learning, Pattern recognition,Wireless sensors and Internet of Things (IoT).

            </p>
            <p >         
            <b>Contact No:</b> 91-771-2474018</p>
            <p >         
              <b>E mail</b>santosh@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/santosh.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, CSE</strong>
            <h3 class="mb-0">SATYANARAYANA VOLLALA</h3>
            <div class="mb-1 text-muted">  Ph.D.(NIT-T)</div>
            <p class="mb-auto"> <b>Research:</b> Hardware Cryptography, Public-Key Cryptography, Number Theory and Theoretical Computer Science</p>
            <p >         
            <b>Contact No:</b>91-771-2474028</p>
            <p >         
              <b>E mail</b> satya[at]iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/satyanarayana.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ECE</strong>
            <h3 class="mb-0">SHRIVISHAL TRIPATHI</h3>
            <div class="mb-1 text-muted">  Ph.D (IIT Jodhpur)</div>
            <p class="mb-auto"> <b>Research:</b> Ultrawideband (UWB) Antennas, Reconfigurable Antenna, MIMO Antenna, SIW Antenna, Wireless Body Area Network (WBAN), Specific Absorption Ratio (SAR), Energy Harvesting, Cognitive Radio, Radar, Signal Modulation/Demodulation Techniques, MIMO/OFDM System, and Ad-hoc Network..</p>
            <p >         
            <b>Contact No:</b> 91-771-2474019</p>
            <p >         
              <b>E mail</b>shrivishal[at]iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/shrivishal.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, ENGLISH</strong>
            <h3 class="mb-0">SRESHA YADAV</h3>
            <div class="mb-1 text-muted"> Ph. D (IIT-Roorkee)</div>
            <p class="mb-auto"> <b>Research:</b> Professional Communication, ELT, Second Language Acquisition and Interdisciplinary studies in English Language</p>
            <p >         
            <b>Contact No:</b>91-771-2474017</p>
            <p >         
              <b>E mail</b>sresha@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/sresha.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, CSE</strong>
            <h3 class="mb-0">SRINIVAS NAIK N</h3>
            <div class="mb-1 text-muted">  Ph.D. (University of Hyderabad)</div>
            <p class="mb-auto"> <b>Research:</b> Big Data, Hadoop, Distributed Systems, and Cloud Computing.</p>
            <p >         
            <b>Contact No:</b> 91-771-2474014</p>
            <p >         
              <b>E mail</b>  srinu@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/srinivas.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, CSE</strong>
            <h3 class="mb-0">VENKANNA U</h3>
            <div class="mb-1 text-muted">  Ph. D (NIT-Trichy)</div>
            <p class="mb-auto"> <b>Research:</b> IoT, Software Defined Networks, Data plane programmability (P4), Self Driving networks, Networks Security.</p>
            <p >         
            <b>Contact No:</b>  91-771-2474023</p>
            <p >         
              <b>E mail</b> venkannau@iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/Venkanna1.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">ASSISTANT PROFESSOR, CSE</strong>
            <h3 class="mb-0">VIVEK TIWARI</h3>
            <div class="mb-1 text-muted"> Ph.D (NIT-Bhopal)</div>
            <p class="mb-auto"> <b>Research:</b> Machine learning, Data Mining, Computer Vision (Bioinformatics), Business Analytics, Data Warehousing</p>
            <p >         
            <b>Contact No:</b> 91-771-2474009</p>
            <p >         
              <b>E mail</b> vivek[at]iiitnr.edu.in</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/vivek.jpg" alt="ABHISHEK SHARMA" width="275" height="275">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- faculty conatiner end -->
</div>

<hr>

{% endblock body %}