{% extends 'base.html' %}
{% block title %} 
Sports Club
{% endblock title %} 

{% block body %}
<div class="container-fluid px-0">
    <img src="/static/atharvbanner.jpg" alt="HEad" width="1600">
</div>

<div class="container-fluid">
    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/atharvlogo.jpeg" class="rounded" width="400" alt="Atharv LOGO">
            <p>
            <h4>
                Atharv (Sports Club)
            </h4>
             <i> Atharv is the sports club of IIIT-NR. It conducts all the sports and eSports related events and competitions, such as Basketball League, CS:GO tournaments in the college. The annual Intra-Sports Fest, titled "Aarambh" is conducted by our club.</i>
            </p>
        </div>
    </div>

{% endblock body %}
