{% extends 'base.html' %}
{% block title %}
TECHNICAL CLUBS
{% endblock title %}

{% block body %}


<!-- TECHNICAL CLUBS -->

<div class="container-fluid px-0">
    <img src="/static/descode 3.0 (1).jpg" alt="HEad" width="1600">
</div>


<div class="container">
    <h1 class="display-1">Technical Clubs</h1>
    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/tsoc.jpg" class="rounded" alt="TSOC LOGO">
            <p>
            <h4>
                TSoC
            </h4>
             <i> The official computer society club which focuses on doing things rather than learning things.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/aiml.jpg" class="rounded" width="400" alt="AIML LOGO">
            <p>
            <h4>
                AIML Club
            </h4>
            <i>The institute's club for the incredibly interesting and growing field of Artificial Intelligence.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/inquizitive.jpg" class="rounded" width="400" alt="inquizitive LOGO">
            <p>
            <h4>
                inquizitive
            </h4>
            <i>Inquizitive is the official quiz club of IIIT-NR.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/ciphercell.png" class="rounded" width="400" alt="Ciphr LOGO">
            <p>
            <h4>
                CipherCell
            </h4>
            <i>CipherCell is an official cybersecurity club of IIIT NR. This club intends to bring general awareness about hacking and to break the stigma surrounding the field.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/comet.png" class="rounded" width="400" alt="comet LOGO">
            <p>
            <h4>
                Comet
            </h4>
           <i> The official Electronics club of IIIT-NR.</i>
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="text-center">
            <img src="/static/tech4gud.png" class="rounded" width="400" alt="t4G LOGO">
            <p>
            <h4>
                Tech4Gud
            </h4>
            <i>A club that incorporates technological endeavors and social service, whose members strive to make tech that addresses the social, economic and environmental challenges</i>
            </p>
        </div>
    </div>
</div>



</div>


{% endblock body %}